header {
justify-content: center;
display: flex;
font-size: 2rem;
margin-bottom: 100px;
}


ul {
display: flex;
text-decoration: none;
justify-content: center;
list-style-type: none;
}



body {
margin-top: 4em;
}



a {
    color: black;
    margin-left: 50px;
    font-size: 2rem;
    text-decoration: none;  
}



a:hover {
    text-decoration: underline;
}

